@font-face {
    font-family: 'Fazeta';
    src: url('../font/fazeta-medium.woff2') format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'Gotham';
    src: url('../font/gotham-book.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Rift Soft';
    src: url('../font/riftsoft-demi.woff2') format('woff2');
    font-weight: 400;
}